# DB
DB_USER=user_name_here
DB_PASSWORD=your_password_here
DB_NAME=db_name_here
DB_HOST=localhost
DB_PORT=5432

# Redpanda
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=kafka_topic_name_here

# Console
CONSOLE_PORT=8080

# HTTP-server
APP_PORT=8081